<main>
    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/banner1.jpg" class="d-block w-100" alt="Engrenagens de um Sistema">
              </div>
              <div class="carousel-item">
                <img src="assets/img/banner2.jpg" class="d-block w-100" alt="Rede de Sistemas">
              </div>
              <div class="carousel-item">
                <img src="assets/img/banner3.jpg" class="d-block w-100" alt="IA de um Sistema">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>

    <h2>Lista de Componentes</h2>
    <mat-grid-list cols="3">
      <mat-grid-tile><mat-card class="example-card">
        <img mat-card-image src="assets/img/item1.png" alt="HUD Sistema Hi-Tech">
        <mat-card-header>
          <mat-card-title>Componente Alpha</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Descrição do Sistema.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 300,00</p>
          <button mat-button>Adquirir</button>
        </mat-card-actions>
      </mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card class="example-card">
        <img mat-card-image src="assets/img/item2.jpg" alt="HUD Relógio Hi-Tech">
        <mat-card-header>
          <mat-card-title>Componente Beta</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Descrição do Sistema.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 200,00</p>
          <button mat-button>Adquirir</button>
        </mat-card-actions>
      </mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card class="example-card">
        <img mat-card-image src="assets/img/item3.png" alt="HUD Sci-Fi">
        <mat-card-header>
          <mat-card-title>Componente Ômega</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Descrição do Sistema.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 390,00</p>
          <button mat-button>Adquirir</button>
        </mat-card-actions>
      </mat-card></mat-grid-tile>
    </mat-grid-list>
</main>